.title{
    font-weight: 700;
    font-size: 48px;
    color: var(--font-secondary-color);
}

.home-section{
    padding: 20px;
}

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 960px;
    height: 240px;
}

.subtitle{
    color: var(--font-tertiary-color);
    font-weight: 700;
    font-size: 24px;
}